@charset "utf-8";
/* CSS Document */

table{
    margin: 0 auto;
}
div,td{
    margin: 0px;
    padding: 0px;
}
td{
    width: 40px;
    height: 40px;
    text-align: center;

}
/*css3，从第二行开始（除掉第一列，即从第二列开始）设置样式*/
tr:nth-child(n+2)>td:nth-child(n+2){
    border: 1px solid #cccccc;
    margin: -1px;
    position: relative;
    left: 0px;
}
.Left,.Top,.Bottom,.Right{
    background-color: red;
}
.Left div,.Right div,.Top div,.Bottom div{
    background-color: blue;
    position: absolute;
}
.Left div,.Right div{
    width: 10px;
    height: 100%;
    top: 0px;
}
.Top div,.Bottom div{
    width: 100%;
    height: 10px;
	/*left:0px;*/
}
.Top div{
    top: 0px;
}
.Right div{
    right: 0px;
}
.Bottom div{
    bottom: 0px;
}
.Left div{
    left: 0px;
}
.inputs{
    margin: 0 auto;
    width: 200px;
}